################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LifePointsPrototype/LifePointsPrototype/bin/Debug
/LifePointsPrototype/LifePointsPrototype/obj/Debug
/LifePointsPrototype/.vs/LifePointsPrototype/v15
